<div class="container">
  <div class="col-md-12">
    <hr>
  </div>
  <div id="vidCatalog" class="col-md-4">
    <h3>Videos:</h3>

    <div class="col-md-12" *ngFor="let cats of categories?.folders">
      {{cats.FolderTitle}}
    </div>


<button (click)="getVideos.tryMe()">button</button>
  </div>
  <div class="col-md-8">
    <h2>Welcome</h2>
    <div valign="center" class="embed-responsive embed-responsive-16by9">
      <video controls class="embed-responsive-item">
        <source src="assets/ChampsDogTrainingIntro.m4v" type="video/mp4">
      </video>
    </div>
    <div id="controls" class="text-center">
      <h2>
        <a href="#">
          < PREV</a> |
            <a href="#"> NEXT ></a>
      </h2>
    </div>
  </div>
</div>