hr {
    margin-top: 2px solid #eee;
}

#vidCatalog {
    background-color: lightgray;
    border-radius: 5px;
}

.vidList {
    margin-bottom: 20px;
}

.vidList:hover {
    background-color: gray;
}
