<div class="container">
  <div class="col-md-12 row">
    <hr>
  </div>
  <div class="row">
    <div id="vidCatalog" class="col-md-4">
      <h3>Courses:</h3>

      <ngbd-accordion-static></ngbd-accordion-static>

    </div>
    <div class="col-md-8">
        <h2>{{videoLink?.title}}</h2>
      <div valign="center" class="embed-responsive embed-responsive-16by9">
        <video id="videoBox" [attr.src]="videoLink.url?.fileurl" type="video/mp4" controls poster="../assets/videoPlaceholder.jpg">
        Your browser does not support the video tag.
        </video>

      </div>
      <!--
      <div id="controls " class="text-center ">
        <h2>
          <a href="# ">
            < PREV</a> |
              <a href="# "> NEXT ></a>
        </h2>
      </div>
    -->
    </div>
  </div>
</div>