<div id="greatDane" class="col-md-12 row text-center">
  <h1>Struggling with your puppy?</h1>
  <h4>Puppy training doesn’t have to be frustrating. It is actually so much easier than you think.</h4>
  <h4>Having the right plan is the difference.</h4>
  <h4>With thousands of puppies successfully trained, we have this art down to a science.</h4>
  <button class="btn btn-primary">Click Here to get your game plan now!</button>
</div>

<div class="col-md-12 row text-center">
  <h2>Can I Really Get Results With An Online Puppy Training Course?</h2>
  <video src="https://youtu.be/6zOTtaJrIEo" controls width="560" preload="auto" poster="../assets/videoPlaceholder.jpg"></video>
</div>

<div class="col-md-12 row">
  <div class="col-md-3"></div>
  <div id="putPuppy" class="col-md-6">
    <h3 align="center">Put the Champion Puppy Training System to Work for You</h3>
    <p>Pat Quinn, the Founder of the Champion Puppy Training System, answers the questions you probably have in this Intro Video.</p>
    <ul>
      <li>Learn a daily management plan for your puppy that will make your life together better and easier</li>
      <li>Stop battling with your puppy’s inappropriate behavior and channel its energy to obtain useful life skills</li>
      <li>Gain control and your puppy’s focus immediately</li>
    </ul>
    <hr>
  </div>
  <div class="col-md-3"></div>
</div>

<div id="whatLearn" class="col-md-12 row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2 align="center">What You’ll Learn</h2>
    <p>Our on-line training process brings vital information to you and your household at the click of a button.  Our approach is unlike any other you are familiar with and so are the results. We teach you how to be a forward thinking
      owner that understands their puppy. Together we will tap into the core of what drives your puppy and show you how to
      put your puppy’s energy and demands to work for you.</p>

    <p>Our course is specifically tailored to accountable owners who value having a deeper relationship with their dog. Owners
      learn through engaging short videos, webinars, and easy to implement instruction.</p>
    <hr>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="col-md-12 row">
  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-8">
        <h4>Manage</h4>
        <ul>
          <li>People don’t plan to fail, they fail to plan. Quit spinning your wheels; take a step back and move forward with
            a new approach together.</li>
          <li>We will cover potty training, crate training, feeding, chewing and many other concepts.</li>
        </ul>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="../assets/home-manage.jpg" />
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-4">
        <img class="img-responsive" src="../assets/home-motivate.jpg" />
      </div>
      <div class="col-md-8">
        <h4>Motivate</h4>
        <p>99% of puppy trainers skip over this step. Their clients end up with dogs only responding with food bribes or fear
          of reprimand. You will learn what motivates your puppy at aprimallevel which will provide a base to springboard
          your puppy’s training to the next level.</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-8">
        <h4>Train</h4>
        <ul>
          <li>Now that your puppy is natually managed and motivated, training is the easy part. Our primary mode of training
            is through play.</li>
          <li>You’re already playing with your puppy. Why not do life transforming training while you’re at it?</li>
        </ul>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="../assets/home-train.jpg" />
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-4">
        <img class="img-responsive" src="../assets/home-behavior.jpg" />
      </div>
      <div class="col-md-8">
        <h4>Behavior Modification</h4>
        <p>Our play based obedience model of training lends itself 100 percent to the behavioral aspects of puppy training.
          That means you can teach your puppy to: stop biting, jumping, pulling on the leash and chewing all though play!</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div id="german" class="col-md-12 row text-center">
  <h2>Want To Reach Your Puppy’s Potential?</h2>
  <button class="btn btn-primary">Sign Up Now!</button>
</div>

<div class="col-md-12">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2 align="center">Your Puppy Is An Adult Dog In The Making</h2>
    <img src="../assets/home-rowofdogs.jpg" class="img-responsive" />
    <br/>
    <h2 align="center">Shouldn’t I Enroll My Puppy In A Traditional Class?</h2>

    <p class="text-left">The answer is Yes. That is if you want traditional puppy class results.</p>

    <p class="text-left">For decades these dog training classes have let owners down. Why squander your precious time and money for traditional
      puppy classes? The majority of puppy training classes available skimp on how to change the dog behaviors that define
      your dog’s overall personality.</p>
    <hr>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="col-md-12 row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>Everything That You Need is at Your Finger Tips.</h2>
    <img src="../assets/home-computer.jpg" class="img-responsive" />
    <h3 align="left">There are no short cuts in life or in great puppy training. Anything worth doing is worth doing exceptionally.</h3>

    <p class="text-left">Think outside the box and do more than go through the motions with your puppy. Your life will be easier and your puppy’s
      life will be better for it.</p>
    <ul class="text-left">
      <li>The relief is immediate and the benefits last a life time.</li>
      <li>I have successfully trained over 100 puppies in my house with two toddlers and other full time duties.</li>
      <li>Thousands of puppies have been trained through their owners using the Champion Puppy Training System in their own homes.</li>
      <li>You don’t have to struggle by yourself or settle for mediocrity.</li>
    </ul>
  </div>
  <div class="col-md-2"></div>
</div>

<div id="bigBox" class="col-md-12 row text-center">
  <h3>Think Outside The Big Box Stores</h3>
  <button class="btn btn-primary">Sign Up Now!</button>
</div>

<div id="convenienceBoxes" class="col-md-12 row">
  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-8">
        <h4>Convenience</h4>
        <p>Maybe you have an intense life-style? Maybe you are very mindful of how you spend your time?Everything you need to
          raise the best trained dog in the neighborhood is right at your fingertips.</p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="../assets/home-convenience.jpg" />
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-4">
        <img class="img-responsive" src="../assets/home-thoughtful.jpg" />
      </div>
      <div class="col-md-8">
        <h4>Thoughtful Approach</h4>
        <p>Our approach is thought-out, logical and fun. Your puppy will not just be trained, but a relationship will be built,
          creating harmony between your life and your puppy’s.</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-8">
        <h4>Real Results</h4>
        <p>Paying money and showing up to class does not guarantee results. Taking this course and implementing this tried and
          true system does.</p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="../assets/home-real.jpg" />
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-4">
        <img class="img-responsive" src="../assets/home-committment.jpg" />
      </div>
      <div class="col-md-8">
        <h4>Committment</h4>
        <p>We are 100 percent committed to your success. We are so confident in the Champion Puppy Training System we offer
          ongoing support through our weekly webinars.</p>
        <p>Failure is not an option</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div id="handPaw" class="col-md-12 row text-center">
  <h2>If You Are Ready To See This Through, We Are Too</h2>
  <button class="btn btn-success">Sign Up Now!</button>
</div>